@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">All tasks in one solution. Uncomment the constraints in <code>CustomAreaAreaRegistration.cs</code> and <code>RouteConfig.cs</code> for task 4. The only accessible route will be localhost:.../Admin</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Forms vs. MVC</h2>
        <p>
            See the advantages and disadvantages of both ASP.NET Web Forms and ASP.NET MVC...
        </p>
        <p><a class="btn btn-default" href="~/Comparison/Comparison">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>With this bit calculator you can make conversions between bits, bytes, kilobits, kilobytes, megabits, megabytes, gigabits, gigabytes, terabits, terabytes, petabits, petabytes, exabits, exabytes, zettabits, zettabytes, yottabits and yottabytes.</p>
        <p><a class="btn btn-default" href="~/Calculator/Calculator">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Area</h2>
        <p>ASP.NET MVC lets us partition Web applications into smaller units (areas). An area is effectively an MVC structure inside an application.</p>
        <p><a class="btn btn-default" href="~/CustomArea/NewArea">Learn more &raquo;</a></p>
    </div>
</div>